@use '../../styles/variables' as variables;

.List {
  padding: variables.rem(40px) 0;
}

.User {
  background-color: #f0f0f0;
  border-radius: variables.rem(8px);
  margin-bottom: variables.rem(16px);
  padding: variables.rem(16px);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: darken(#f0f0f0, 10%);
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  .address {
    margin-top: variables.rem(8px);
  }

  .company {
    margin-top: variables.rem(8px);
    font-weight: bold;
  }
}
